{% if form %}
<form class="grid-form" 
	{% if form.action %}
	method="{{ form.action.method }}" action="{{ form.action.url }}"
	{% endif %}
>
	<h1>{{ form.title }}</h1>
	<br><br>
	{% for fieldset in form.fieldsets %}
	<fieldset>
		<legend>{{ fieldset.title }}</legend>
		{% for row in fieldset.rows %}
			<div data-row-span="{{ row.size }}">
				{% for field in row.fields %}
			  <div data-field-span="{{ field.size }}">
		      <label>{{ field.label }}</label>
		      <input name="{{ field.name }}" type="{{ field.type }}">
			  </div>
			  {% endfor %}
			</div>
		{% endfor %}
	</fieldset>
	<br><br>
	{% endfor %}
	{% if form.action %}
		<button type="submit">{{ form.action.button_text }}</button>
	{% endif %}
</form>
{% endif %}